![supermarkets.png](attachment:supermarkets.png)

##### Importing Libraries

In [5]:
#importing core libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Geo visualisations
import folium


%matplotlib inline

In [6]:
# For suppressing warning messages
import warnings

warnings.filterwarnings('ignore')

##### Changing default figure size

In [7]:
## Changing default figure size using rcParams

print("Earlier, figure default size was: ", plt.rcParams["figure.figsize"])
plt.rcParams["figure.figsize"] = (10, 5)
print("Now, figure default size is: ", plt.rcParams["figure.figsize"])

Earlier, figure default size was:  [6.4, 4.8]
Now, figure default size is:  [10.0, 5.0]

##### Applying theme for notebook

In [8]:
# Setting theme for charts

plt.style.use('ggplot')

##### Increasing Row/Col display limit

In [9]:
# NOTE : New function

# Extending the default setting for maximum displayable rows/columns in Jupyter
# If not used, Jupyter wll truncate some rows and columns by default. 

pd.options.display.max_rows = 4000
pd.options.display.max_columns = 1000

# EDA - Supermarket Sales

## 1.  Introduction

This case study presents a real world alike scenario where important decisions are influenced by the data driven insights. We'll explore the transaction level data sales data of a supermarket chain , and derive useful business insights.

### Objective

The supermarket chain wants to run some promotions and they have a fixed budget for the same. Business wants insights from the data on how to most efficiently allocate these funds.

The objectives are as following -

•	Provide insights to Marketing head for allocating funds. The funds should be allocated in such a way so that the promotional return can be maximized.

•	Any new Strategy or strategy changes suggestions to improve revenue.

### Data 

•	The data belongs to a supermarket chain in Myanmar, with stores in 3 cities.

•	This is a sampled data of 1000 transactions and 20 fields for each transaction

•	All transactions belong to year 2019

### Data Dictionary

Reading data dictionary -

In [10]:
data_dict = pd.read_csv("data_dict.csv")

data_dict.head(20)

            Field                                        Description
0      Invoice ID                      Invoice ID of the transaction
1         Branch   One out of 3 branches. Every city belongs to a...
2      CustomerID       Customer ID of the cutomer doing transaction
3            City  City where the tx took place. The chain has st...
4   Customer Type                  Where a member or normal customer
5          Gender                                     Male or Female
6    Product Line              Product line of the product purchased
7      Unit Price                    Unit price of product purchased
8        Quantity                                      Qty purchased
9          Tax 5%                        Tax as a fixed % of invoice
10          Total                               Total Invoice amount
11           Date                                         Date of tx
12           Time                                         Time of tx
13        Payment                                       Payment mode
14           cogs                                 Cost of goods sold
15   gross margin                                           Margin %
16   gross income                                      Margin amount
17         Rating                       Rating given by cx out of 10
18      Longitude                          Geo field for tx location
19       Latitude                          Geo field for tx location

## 2. Data Wrangling

Reading data file using pandas -

(Please note the style function used to color code the quantitative fields. A really useful method to visualise the data with the data ingestion  )

In [11]:
sales_data = pd.read_csv("supermarket_sales.csv")

sales_data.head(20).style.background_gradient(cmap='GnBu')

##### Checking shape of data

In [12]:
shape=sales_data.shape
print(f'The sales data has {shape[0]} rows and {shape[1]} columns')

The sales data has 1000 rows and 20 columns

##### 5 Number summary

In [13]:
sales_data.columns

Index(['Invoice ID', 'Branch', 'CustomerID', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating', 'Longitude', 'Latitude'],
      dtype='object')

In [14]:
sales_data[['Unit price', 'Quantity', 'Total']].describe()

        Unit price     Quantity        Total
count  1000.000000  1000.000000  1000.000000
mean     55.672130     7.485000   419.149340
std      26.494628     4.520643   347.824683
min      10.080000     1.000000    10.170000
25%      32.875000     4.000000   152.745000
50%      55.230000     7.000000   317.695000
75%      77.935000    11.000000   605.222500
max      99.960000    20.000000  1749.960000

In [15]:
# Checking 5 point summary with describe function

sales_data.describe().style.background_gradient(cmap='GnBu')

Following are the observations from 5 number summary - 

* Unit Price has range of 10-99, with mean price of 55
* Avg qty ordered per transaction is 7.4, the range being 1-20
* Invoice total mean is 419, and the range is 10-1749
* Gross Margin is constant as 4.76%
* Mean rating is 7.46/10

##### Data types and Null counts

.info() function is used to check data types of all variables and null counts.

In [28]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   806 non-null    object
 2   CustomerID               1000 non-null   object
 3   City                     1000 non-null   object
 4   Customer type            952 non-null    object
 5   Gender                   975 non-null    object
 6   Product line             977 non-null    object
 7   Unit price               1000 non-null   float64
 8   Quantity                 1000 non-null   int64
 9   Tax 5%                   896 non-null    float64
 10  Total                    1000 non-null   float64
 11  Date                     1000 non-null   datetime64[ns]
 12  Time                     1000 non-null   datetime64[ns]
 13  Payment                  979 non-null    object
 14  cogs                     1000 non-null   float64
 15  gross margin percentage  1000 non-null   float64
 16  gross income             1000 non-null   float64
 17  Rating                   857 non-null    float64
 18  Longitude                1000 non-null   float64
 19  Latitude                 1000 non-null   float64
dtypes: datetime64[ns](2), float64(9), int64(1), object(8)
memory usage: 156.4+ KB

##### - Since date and time are having 'object' as  dtype we have to change the dtype here.

In [27]:
sales_data['Date']

0     2019-02-21
1     2019-05-27
2     2019-12-27
3     2019-11-15
4     2019-03-31
5     2019-01-06
6     2019-12-15
7     2019-06-14
8     2019-11-25
9     2019-04-10
10    2019-07-23
11    2019-08-26
12    2019-08-25
13    2019-10-02
14    2019-11-23
15    2019-07-15
16    2019-12-02
17    2019-03-09
18    2019-07-09
19    2019-05-08
20    2019-10-18
21    2019-12-25
22    2019-05-01
23    2019-02-16
24    2019-03-11
25    2019-11-08
26    2019-01-19
27    2019-09-04
28    2019-03-06
29    2019-06-04
30    2019-08-17
31    2019-01-18
32    2019-06-15
33    2019-09-28
34    2019-05-09
35    2019-07-12
36    2019-05-08
37    2019-09-17
38    2019-10-27
39    2019-10-14
40    2019-02-08
41    2019-08-31
42    2019-04-28
43    2019-02-22
44    2019-10-07
45    2019-01-11
46    2019-02-25
47    2019-02-07
48    2019-10-16
49    2019-06-03
50    2019-04-04
51    2019-09-28
52    2019-12-30
53    2019-09-15
54    2019-04-30
55    2019-02-19
56    2019-01-14
57    2019-06-29
58    2019-01-28
59    2019-05-07
60    2019-11-19
61    2019-09-25
62    2019-12-09
63    2019-03-22
64    2019-10-04
65    2019-06-19
66    2019-09-19
67    2019-02-09
68    2019-02-27
69    2019-03-21
70    2019-06-02
71    2019-07-22
72    2019-12-17
73    2019-11-08
74    2019-03-31
75    2019-12-12
76    2019-08-12
77    2019-12-05
78    2019-06-28
79    2019-11-10
80    2019-03-13
81    2019-10-28
82    2019-05-27
83    2019-05-10
84    2019-06-28
85    2019-05-22
86    2019-03-11
87    2019-12-03
88    2019-08-31
89    2019-04-24
90    2019-02-02
91    2019-12-15
92    2019-04-19
93    2019-10-02
94    2019-02-02
95    2019-06-04
96    2019-05-02
97    2019-04-02
98    2019-03-11
99    2019-06-20
100   2019-11-06
101   2019-12-13
102   2019-07-19
103   2019-05-23
104   2019-04-20
105   2019-12-19
106   2019-12-10
107   2019-12-30
108   2019-03-27
109   2019-02-16
110   2019-09-15
111   2019-10-25
112   2019-07-16
113   2019-10-27
114   2019-09-01
115   2019-08-11
116   2019-12-03
117   2019-02-22
118   2019-07-12
119   2019-04-27
120   2019-04-02
121   2019-12-24
122   2019-09-10
123   2019-09-16
124   2019-06-11
125   2019-03-25
126   2019-11-29
127   2019-05-04
128   2019-06-12
129   2019-03-31
130   2019-04-04
131   2019-08-13
132   2019-01-11
133   2019-02-25
134   2019-10-23
135   2019-06-26
136   2019-01-22
137   2019-02-14
138   2019-01-11
139   2019-04-21
140   2019-02-28
141   2019-08-27
142   2019-11-23
143   2019-08-16
144   2019-11-27
145   2019-02-19
146   2019-05-04
147   2019-04-12
148   2019-01-05
149   2019-01-12
150   2019-07-22
151   2019-08-26
152   2019-01-25
153   2019-10-10
154   2019-12-27
155   2019-12-31
156   2019-11-21
157   2019-11-09
158   2019-05-26
159   2019-08-27
160   2019-04-23
161   2019-06-26
162   2019-01-27
163   2019-04-04
164   2019-06-18
165   2019-06-06
166   2019-01-06
167   2019-04-23
168   2019-07-10
169   2019-12-08
170   2019-11-16
171   2019-02-24
172   2019-01-25
173   2019-01-27
174   2019-06-20
175   2019-03-06
176   2019-06-09
177   2019-10-04
178   2019-05-24
179   2019-10-18
180   2019-02-02
181   2019-07-12
182   2019-07-13
183   2019-12-26
184   2019-10-08
185   2019-03-18
186   2019-11-22
187   2019-11-01
188   2019-03-12
189   2019-10-15
190   2019-12-18
191   2019-08-08
192   2019-10-29
193   2019-11-04
194   2019-11-08
195   2019-04-23
196   2019-11-05
197   2019-12-30
198   2019-06-21
199   2019-02-23
200   2019-05-14
201   2019-11-15
202   2019-02-15
203   2019-06-04
204   2019-09-05
205   2019-08-02
206   2019-02-20
207   2019-01-09
208   2019-03-07
209   2019-03-28
210   2019-03-30
211   2019-09-03
212   2019-08-03
213   2019-09-05
214   2019-02-12
215   2019-11-02
216   2019-07-30
217   2019-10-24
218   2019-02-27
219   2019-01-09
220   2019-08-03
221   2019-09-14
222   2019-09-26
223   2019-11-18
224   2019-07-14
225   2019-11-16
226   2019-08-12
227   2019-10-16
228   2019-06-17
229   2019-07-15
230   2019-02-18
231   2019-11-19
232   2019-11-23
233   2019-12-14
234   2019-01-19
235   2019-02-15
236   2019-04-15
237   2019-04-14
238   2019-03-15
239   2019-03-26
240   2019-06-14
241   2019-07-08
242   2019-09-24
243   2019-08-07
244   2019-01-06
245   2019-08-16
246   2019-11-16
247   2019-04-27
248   2019-11-14
249   2019-12-25
250   2019-09-05
251   2019-10-23
252   2019-05-21
253   2019-02-19
254   2019-09-12
255   2019-06-21
256   2019-01-31
257   2019-03-24
258   2019-10-06
259   2019-04-26
260   2019-06-06
261   2019-01-31
262   2019-02-03
263   2019-10-07
264   2019-05-05
265   2019-12-11
266   2019-03-05
267   2019-01-18
268   2019-02-13
269   2019-05-02
270   2019-10-27
271   2019-03-13
272   2019-03-02
273   2019-07-25
274   2019-04-02
275   2019-08-29
276   2019-09-14
277   2019-08-31
278   2019-07-12
279   2019-04-17
280   2019-01-17
281   2019-07-14
282   2019-12-10
283   2019-01-16
284   2019-08-09
285   2019-07-24
286   2019-11-01
287   2019-07-06
288   2019-11-01
289   2019-11-25
290   2019-02-08
291   2019-03-18
292   2019-01-30
293   2019-07-02
294   2019-06-28
295   2019-04-16
296   2019-01-30
297   2019-05-26
298   2019-05-14
299   2019-03-27
300   2019-06-24
301   2019-07-01
302   2019-04-28
303   2019-06-16
304   2019-01-27
305   2019-04-02
306   2019-06-15
307   2019-08-11
308   2019-06-29
309   2019-09-09
310   2019-12-03
311   2019-02-25
312   2019-10-18
313   2019-09-10
314   2019-02-22
315   2019-07-03
316   2019-01-03
317   2019-05-17
318   2019-12-09
319   2019-10-19
320   2019-11-10
321   2019-01-27
322   2019-03-28
323   2019-03-19
324   2019-10-04
325   2019-03-09
326   2019-02-16
327   2019-06-21
328   2019-04-03
329   2019-04-22
330   2019-02-21
331   2019-01-16
332   2019-09-05
333   2019-04-19
334   2019-07-19
335   2019-04-08
336   2019-10-21
337   2019-07-20
338   2019-04-19
339   2019-02-13
340   2019-10-10
341   2019-07-05
342   2019-12-22
343   2019-09-10
344   2019-07-17
345   2019-07-01
346   2019-09-12
347   2019-06-08
348   2019-08-05
349   2019-09-18
350   2019-09-01
351   2019-03-04
352   2019-03-27
353   2019-05-28
354   2019-12-20
355   2019-05-05
356   2019-06-24
357   2019-03-15
358   2019-03-16
359   2019-05-15
360   2019-04-08
361   2019-07-06
362   2019-03-16
363   2019-03-03
364   2019-09-28
365   2019-01-29
366   2019-02-21
367   2019-04-01
368   2019-07-14
369   2019-02-01
370   2019-05-01
371   2019-08-13
372   2019-09-14
373   2019-10-09
374   2019-10-17
375   2019-08-04
376   2019-12-20
377   2019-08-12
378   2019-05-29
379   2019-08-03
380   2019-07-27
381   2019-10-20
382   2019-12-31
383   2019-10-12
384   2019-01-05
385   2019-07-02
386   2019-05-14
387   2019-05-29
388   2019-10-01
389   2019-10-02
390   2019-03-18
391   2019-06-01
392   2019-10-12
393   2019-03-15
394   2019-10-17
395   2019-03-30
396   2019-08-01
397   2019-02-26
398   2019-04-06
399   2019-06-07
400   2019-09-23
401   2019-03-19
402   2019-06-10
403   2019-08-05
404   2019-01-16
405   2019-11-19
406   2019-07-14
407   2019-02-20
408   2019-02-25
409   2019-04-15
410   2019-11-28
411   2019-10-17
412   2019-01-07
413   2019-11-24
414   2019-01-10
415   2019-10-26
416   2019-10-16
417   2019-09-21
418   2019-07-18
419   2019-07-11
420   2019-03-07
421   2019-03-12
422   2019-11-18
423   2019-04-25
424   2019-08-10
425   2019-05-26
426   2019-11-08
427   2019-08-21
428   2019-08-11
429   2019-08-06
430   2019-06-22
431   2019-04-27
432   2019-01-15
433   2019-06-14
434   2019-09-09
435   2019-04-19
436   2019-09-08
437   2019-07-07
438   2019-06-12
439   2019-11-12
440   2019-12-27
441   2019-12-02
442   2019-01-22
443   2019-11-08
444   2019-10-26
445   2019-10-10
446   2019-12-21
447   2019-06-21
448   2019-11-06
449   2019-02-16
450   2019-12-11
451   2019-02-16
452   2019-02-12
453   2019-01-10
454   2019-10-28
455   2019-12-22
456   2019-09-24
457   2019-03-30
458   2019-04-12
459   2019-01-02
460   2019-11-26
461   2019-09-28
462   2019-10-26
463   2019-06-12
464   2019-07-31
465   2019-05-19
466   2019-06-11
467   2019-08-17
468   2019-11-10
469   2019-05-29
470   2019-08-26
471   2019-07-13
472   2019-10-25
473   2019-05-23
474   2019-06-14
475   2019-09-03
476   2019-12-06
477   2019-04-25
478   2019-11-26
479   2019-03-24
480   2019-11-03
481   2019-08-27
482   2019-03-03
483   2019-10-31
484   2019-06-13
485   2019-12-18
486   2019-12-28
487   2019-11-29
488   2019-06-04
489   2019-06-12
490   2019-03-18
491   2019-08-13
492   2019-01-15
493   2019-06-12
494   2019-09-02
495   2019-11-14
496   2019-12-12
497   2019-04-04
498   2019-05-11
499   2019-05-31
500   2019-07-13
501   2019-07-30
502   2019-08-30
503   2019-08-04
504   2019-07-17
505   2019-10-20
506   2019-12-21
507   2019-04-29
508   2019-10-24
509   2019-09-12
510   2019-03-13
511   2019-09-16
512   2019-10-11
513   2019-05-03
514   2019-08-07
515   2019-06-06
516   2019-09-06
517   2019-03-15
518   2019-08-09
519   2019-10-26
520   2019-01-05
521   2019-11-02
522   2019-06-14
523   2019-04-11
524   2019-11-30
525   2019-09-27
526   2019-02-20
527   2019-08-23
528   2019-05-02
529   2019-01-09
530   2019-11-03
531   2019-03-04
532   2019-02-23
533   2019-02-04
534   2019-08-19
535   2019-10-15
536   2019-02-17
537   2019-01-03
538   2019-12-12
539   2019-04-21
540   2019-09-09
541   2019-11-27
542   2019-07-10
543   2019-03-24
544   2019-06-01
545   2019-10-26
546   2019-09-05
547   2019-07-28
548   2019-04-28
549   2019-01-18
550   2019-02-16
551   2019-09-30
552   2019-12-28
553   2019-01-24
554   2019-03-31
555   2019-05-26
556   2019-06-23
557   2019-02-16
558   2019-04-09
559   2019-07-02
560   2019-07-25
561   2019-09-14
562   2019-03-04
563   2019-07-25
564   2019-10-16
565   2019-04-09
566   2019-11-29
567   2019-12-11
568   2019-04-20
569   2019-05-29
570   2019-09-13
571   2019-09-20
572   2019-08-04
573   2019-04-25
574   2019-01-21
575   2019-12-16
576   2019-06-19
577   2019-01-10
578   2019-12-12
579   2019-11-11
580   2019-09-28
581   2019-05-17
582   2019-09-06
583   2019-05-02
584   2019-07-16
585   2019-11-04
586   2019-03-07
587   2019-01-19
588   2019-03-18
589   2019-07-29
590   2019-04-23
591   2019-11-20
592   2019-07-26
593   2019-03-12
594   2019-10-03
595   2019-06-14
596   2019-12-15
597   2019-09-30
598   2019-02-02
599   2019-05-28
600   2019-03-13
601   2019-07-27
602   2019-10-21
603   2019-09-16
604   2019-04-10
605   2019-10-10
606   2019-03-19
607   2019-01-11
608   2019-07-27
609   2019-02-02
610   2019-06-04
611   2019-07-09
612   2019-02-14
613   2019-11-05
614   2019-03-02
615   2019-01-21
616   2019-09-03
617   2019-04-22
618   2019-10-23
619   2019-12-18
620   2019-08-03
621   2019-01-13
622   2019-01-28
623   2019-07-02
624   2019-11-06
625   2019-05-31
626   2019-07-03
627   2019-01-11
628   2019-06-04
629   2019-07-23
630   2019-03-12
631   2019-08-02
632   2019-01-24
633   2019-11-18
634   2019-11-12
635   2019-09-02
636   2019-05-20
637   2019-05-30
638   2019-05-02
639   2019-07-06
640   2019-04-24
641   2019-08-21
642   2019-09-16
643   2019-11-11
644   2019-05-14
645   2019-08-30
646   2019-09-09
647   2019-02-18
648   2019-11-19
649   2019-05-05
650   2019-02-25
651   2019-08-18
652   2019-03-07
653   2019-06-27
654   2019-11-03
655   2019-04-29
656   2019-08-04
657   2019-02-02
658   2019-06-10
659   2019-07-18
660   2019-05-02
661   2019-05-20
662   2019-02-14
663   2019-06-19
664   2019-03-07
665   2019-04-04
666   2019-12-16
667   2019-10-10
668   2019-05-03
669   2019-04-13
670   2019-12-08
671   2019-10-20
672   2019-03-13
673   2019-02-15
674   2019-09-22
675   2019-01-29
676   2019-10-10
677   2019-04-30
678   2019-02-14
679   2019-08-15
680   2019-02-19
681   2019-12-29
682   2019-12-18
683   2019-01-03
684   2019-08-04
685   2019-12-02
686   2019-06-06
687   2019-02-26
688   2019-04-09
689   2019-12-11
690   2019-09-02
691   2019-09-24
692   2019-12-18
693   2019-04-05
694   2019-05-20
695   2019-06-30
696   2019-11-21
697   2019-11-14
698   2019-10-15
699   2019-05-28
700   2019-08-31
701   2019-02-12
702   2019-09-01
703   2019-02-05
704   2019-07-20
705   2019-01-22
706   2019-09-19
707   2019-03-05
708   2019-07-21
709   2019-11-19
710   2019-10-15
711   2019-12-23
712   2019-03-13
713   2019-06-29
714   2019-03-19
715   2019-03-05
716   2019-07-18
717   2019-05-12
718   2019-01-01
719   2019-12-21
720   2019-06-04
721   2019-03-24
722   2019-06-02
723   2019-01-13
724   2019-01-13
725   2019-11-19
726   2019-04-13
727   2019-01-31
728   2019-12-18
729   2019-08-20
730   2019-02-02
731   2019-07-24
732   2019-12-21
733   2019-02-11
734   2019-05-25
735   2019-12-25
736   2019-03-31
737   2019-02-27
738   2019-06-24
739   2019-07-11
740   2019-11-08
741   2019-12-19
742   2019-03-17
743   2019-07-23
744   2019-06-02
745   2019-05-25
746   2019-10-22
747   2019-08-31
748   2019-06-30
749   2019-08-29
750   2019-04-17
751   2019-11-03
752   2019-11-17
753   2019-04-07
754   2019-02-25
755   2019-02-16
756   2019-09-11
757   2019-04-30
758   2019-07-05
759   2019-03-06
760   2019-10-06
761   2019-03-21
762   2019-09-12
763   2019-05-16
764   2019-04-18
765   2019-12-14
766   2019-12-26
767   2019-08-20
768   2019-04-20
769   2019-06-06
770   2019-07-13
771   2019-06-09
772   2019-03-08
773   2019-03-02
774   2019-07-31
775   2019-09-28
776   2019-08-15
777   2019-01-23
778   2019-06-23
779   2019-06-12
780   2019-09-18
781   2019-11-25
782   2019-05-30
783   2019-11-02
784   2019-02-19
785   2019-09-29
786   2019-03-14
787   2019-12-13
788   2019-05-08
789   2019-05-18
790   2019-10-18
791   2019-02-03
792   2019-03-23
793   2019-11-12
794   2019-07-24
795   2019-05-13
796   2019-06-10
797   2019-08-23
798   2019-11-02
799   2019-08-12
800   2019-07-14
801   2019-06-11
802   2019-04-05
803   2019-02-09
804   2019-12-17
805   2019-07-30
806   2019-10-07
807   2019-01-11
808   2019-11-05
809   2019-08-04
810   2019-09-23
811   2019-06-10
812   2019-10-13
813   2019-02-13
814   2019-05-18
815   2019-12-23
816   2019-10-26
817   2019-12-01
818   2019-07-17
819   2019-06-10
820   2019-02-28
821   2019-08-25
822   2019-09-25
823   2019-10-18
824   2019-10-08
825   2019-06-14
826   2019-10-29
827   2019-12-16
828   2019-01-02
829   2019-12-16
830   2019-10-05
831   2019-11-27
832   2019-09-22
833   2019-10-28
834   2019-12-06
835   2019-07-27
836   2019-02-15
837   2019-01-20
838   2019-11-23
839   2019-08-14
840   2019-10-01
841   2019-07-26
842   2019-05-23
843   2019-05-01
844   2019-06-21
845   2019-04-10
846   2019-07-22
847   2019-12-04
848   2019-05-06
849   2019-03-05
850   2019-05-07
851   2019-11-16
852   2019-07-03
853   2019-05-04
854   2019-06-27
855   2019-11-24
856   2019-10-01
857   2019-05-17
858   2019-01-15
859   2019-03-13
860   2019-01-28
861   2019-07-09
862   2019-11-15
863   2019-09-12
864   2019-05-23
865   2019-05-29
866   2019-03-23
867   2019-11-11
868   2019-09-26
869   2019-03-04
870   2019-06-29
871   2019-03-17
872   2019-04-06
873   2019-06-14
874   2019-02-08
875   2019-02-25
876   2019-03-09
877   2019-01-30
878   2019-09-18
879   2019-07-25
880   2019-12-16
881   2019-09-01
882   2019-07-19
883   2019-11-21
884   2019-08-31
885   2019-09-28
886   2019-04-25
887   2019-02-15
888   2019-09-14
889   2019-12-20
890   2019-09-16
891   2019-07-11
892   2019-04-29
893   2019-10-24
894   2019-03-22
895   2019-10-07
896   2019-10-23
897   2019-01-03
898   2019-08-02
899   2019-02-22
900   2019-12-06
901   2019-05-23
902   2019-05-27
903   2019-01-12
904   2019-10-05
905   2019-08-19
906   2019-05-17
907   2019-03-14
908   2019-08-12
909   2019-08-17
910   2019-10-06
911   2019-03-18
912   2019-09-13
913   2019-07-02
914   2019-12-13
915   2019-03-19
916   2019-03-01
917   2019-07-19
918   2019-10-28
919   2019-06-26
920   2019-04-17
921   2019-07-25
922   2019-04-11
923   2019-07-27
924   2019-11-16
925   2019-02-16
926   2019-04-28
927   2019-10-27
928   2019-10-06
929   2019-03-15
930   2019-07-17
931   2019-12-25
932   2019-10-07
933   2019-07-04
934   2019-02-20
935   2019-04-25
936   2019-11-09
937   2019-03-17
938   2019-09-16
939   2019-02-02
940   2019-04-01
941   2019-08-14
942   2019-08-19
943   2019-06-04
944   2019-11-18
945   2019-01-11
946   2019-03-29
947   2019-02-25
948   2019-06-20
949   2019-02-26
950   2019-10-04
951   2019-11-05
952   2019-06-03
953   2019-03-26
954   2019-03-03
955   2019-06-07
956   2019-11-19
957   2019-08-20
958   2019-02-21
959   2019-07-27
960   2019-07-09
961   2019-05-28
962   2019-07-02
963   2019-02-19
964   2019-02-17
965   2019-01-02
966   2019-06-06
967   2019-03-08
968   2019-09-19
969   2019-12-10
970   2019-03-10
971   2019-07-09
972   2019-04-19
973   2019-04-01
974   2019-07-24
975   2019-04-02
976   2019-10-23
977   2019-11-11
978   2019-07-29
979   2019-12-02
980   2019-05-10
981   2019-04-08
982   2019-04-16
983   2019-10-20
984   2019-06-28
985   2019-08-16
986   2019-11-27
987   2019-07-05
988   2019-02-01
989   2019-12-21
990   2019-08-15
991   2019-10-28
992   2019-02-16
993   2019-01-29
994   2019-09-16
995   2019-10-02
996   2019-12-29
997   2019-01-16
998   2019-03-21
999   2019-10-11
Name: Date, dtype: datetime64[ns]

In [24]:
sales_data['Date'] = pd.to_datetime(sales_data['Date'])

In [29]:
sales_data['Time']= pd.to_datetime(sales_data['Time'])

- once we are done with changing the format for date and time we can proceed further

### Data Imputation

Data imputation is a necessary step so as to avoid misleading insights. It also makes the dataframe compatible with most of the analytical and visual functions.

##### Checking Null %s

Let's first check the columns which have NULL values and then we can impute in those fields one by one -

In [17]:
# Null % for all columns in data

null_perc = sales_data.isnull().sum()/len(sales_data)*100

null_perc.sort_values(ascending = False)

Branch                     19.4
Rating                     14.3
Tax 5%                     10.4
Customer type               4.8
Gender                      2.5
Product line                2.3
Payment                     2.1
Invoice ID                  0.0
Longitude                   0.0
gross income                0.0
gross margin percentage     0.0
cogs                        0.0
Total                       0.0
Time                        0.0
Date                        0.0
Quantity                    0.0
Unit price                  0.0
City                        0.0
CustomerID                  0.0
Latitude                    0.0
dtype: float64

We have 7 fields with NULLs, with "Branch" having maximum NULLs ( 19.4%)

Making a copy of data for Data Wrangling section and further EDA, so that the original data stays as it is in case it is required for further reference later.

In [30]:
sales_data_2 = sales_data.copy()

##### Imputing NULLs for Ratings

Ratings can be imputed with Mean rating values

In [31]:
sales_data_2.Rating.mean()

7.462625437572928

In [32]:
sales_data_2['Rating'] = sales_data_2['Rating'].fillna(sales_data_2.Rating.mean())

##### Imputing NULLs for Tax

From the data we can see that Tax is 5% of the Invoice value always. We can impute nulls using the same formula as below -

In [33]:
tax_perc = sales_data_2['Tax 5%']*100/sales_data_2['Total']
tax_perc.head(20)

0     5.0
1     5.0
2     5.0
3     5.0
4     5.0
5     5.0
6     5.0
7     5.0
8     5.0
9     5.0
10    5.0
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
dtype: float64

In [34]:
sales_data_2['Tax 5%'] = sales_data_2['Tax 5%'].fillna(sales_data_2['Total']*0.05)

Mode is a common way to fill in Categorical variables unless there is a linkage among variables ( As in case of Branch).
Thus, it is better to define a function which can be used multiple times for such variables -

In [ ]:
# The function is written in such a way that it displays the mode and confirms that the mode imputation is complete

def impute_mode(col):
    print("The mode of this field is :  " + sales_data_2[col].mode()[0])
    sales_data_2[col] = sales_data_2[col].fillna(sales_data_2[col].mode()[0])
    print("Mode value imputed")

##### Imputing NULLs for Payment

Payments can be imputed with Mode as there is no logical way to find out what method was used.

In [ ]:
impute_mode('Payment')

##### Imputing NULLs for Customer Type

Customer Type has just 5% of Nulls and it is better to complete the data with mode imputation than leaving it as it is

In [ ]:
impute_mode('Customer type')

##### Imputing NULLs for Gender

Similar to Customer type, Gender also has lower % of NULLs and can be imputed with Mode

In [ ]:
impute_mode('Gender')

##### Imputing NULLs for Product Line

In [ ]:
impute_mode('Product line')

In [ ]:
null_perc = sales_data_2.isnull().sum()/len(sales_data_2)*100

null_perc.sort_values(ascending = False)

##### Imputing NULLs for Branch

One can logically deduce that City and Branch must be linked. 
A quick look at the data using head() function would confirm the same as below -

NOTE : drop_duplicates() can be used to find the unique values based on a set of fields.

In [ ]:
sales_data_2[['Branch','City']].drop_duplicates()

In [ ]:
sales_data_2[['Branch','City']]

Based on the above values, we can write the following logic to impute Branch as per the City values -

In [ ]:
len(sales_data_2['Branch'])

In [ ]:

for i in range(len(sales_data_2['Branch'])):

    if pd.isna(sales_data_2['Branch'][i]) == True :
        if(sales_data_2['City'][i].strip() == "Yangon"):
            sales_data_2['Branch'][i] = "A"
            print("NA imputed as Branch A")

        elif(sales_data_2['City'][i].strip() == "Naypyitaw"):
            sales_data_2['Branch'][i] = "C"
            print("NA imputed as Branch C")

        elif(sales_data_2['City'][i].strip() == "Mandalay"):
            sales_data_2['Branch'][i] = "B"
            print("NA imputed as Branch B")

        else:
            print("Invalid city")

##### Verifying NULL% after imputations

Finally we can verify that all columns have 0% NULLs suing the same logic as earlier for NULL % calculation -

In [ ]:
# Null % for all columns in data

null_perc = sales_data_2.isnull().sum()/len(sales_data_2)*100

null_perc.sort_values(ascending = False)

### Adding fields for timeseries analysis

Time based analysis becomes really crucial for a sales data. It can inform about patterns, peak & low seasons, events that trigger sales to be high or low etc. 
It is useful to extract data and have separate time fields for such analysis as done below -

In [ ]:

# Convert date columns into date time 

sales_data_2.Date = pd.to_datetime(sales_data_2.Date)

#Add a month,day and weekday columns
sales_data_2['month']=sales_data_2.Date.dt.month
sales_data_2['day']=sales_data_2.Date.dt.day
sales_data_2['weekday']=sales_data_2.Date.dt.day_name()

#Add a hour and minute columns 
sales_data_2['hour']=sales_data_2.Time.str[0:2]
sales_data_2['minute']=sales_data_2.Time.str[3:5]

#Make it int values
sales_data_2['hour']=pd.to_numeric(sales_data_2['hour'])
sales_data_2['minute']=pd.to_numeric(sales_data_2['minute'])

##### Checking final data types and NULL counts

In [ ]:
sales_data_2.info()

In [ ]:
sales_data_2.head()

## 2. Univariate Analysis ( Quantitative )

As already discussed in Day 4 session, we know that Univariate Analysis is simplest form of analysing data. It restricts the analysis to only 1 variable as the name states.

It doesn't take into account the mutual relationships and associations among variables. Rather it focuses on finding patterns through a particular field.

##### Function for Univariate Charts of quantitative fields -

For our Univariate analysis in this case, we are going to plot Violinplot and Stripplot using Seaborn library.
Violinplot is a hybrid plot of Box lot & KDE plot which gives us insights about quartiles as well as distribution of a variable.
Stripplot is considered to be  good complement to Violinplot because one can see the individual data points along with the distribution.

In [ ]:
# Defining function for Univariate Analysis of Quantitative Variables

def univariate_quant(col,hue=None):

    fig, axes=plt.subplots(nrows =2,ncols=1,figsize=(20,12))                     # Defining 2 subplots, changing fig size
    axes[1].set_title( "Boxenplot of "+ col , size =14)                          # Chart title for Subplot 1
    sns.stripplot(sales_data_2[col],ax=axes[1], color="#4CB391")                 # Distplot in subplot 1


    axes[0].set_title("Violinplot for  " + col )                                 #  Title for Subplot 2
    sns.violinplot(sales_data_2[col],ax=axes[0], color="grey")                   # Violinplot in Subplot 2
    
                      
    plt.tight_layout()
    fig.savefig("univariate_"+col+".png")

##### Unit Price

Univariate analysis of Unit Price will help us understand in general how the products are priced in supermarket catalogue

Insights- 

* Unit price doesn't follow a normal distribution, it is more or less similar frequency for range 20-80

In [ ]:
univariate_quant('Unit price')

##### Invoice Amount

Univariate analysis of Invoice Amount will help us understand in general how much is the bill amount per transaction

Insights- 

* It has a right skewed distribution, with majority of values lying in under 500 range.

In [ ]:
univariate_quant('Total')

##### Cost of Goods sold

Insights- 

* It also has a right skewed distribution, with majority of values lying in under 600 range.
* It is apparent that  Invoice amount and COGS might be realted with some mathermatical rule/equation.

In [ ]:
univariate_quant('cogs')

##### Gross Income

Insights- 

* Since gross income is derived out of Invoice amount and COGS, the distribution is similar.

In [ ]:
univariate_quant('gross income')

##### Ratings

Insights- 

* Ratings do have a similar to normal distribution with mean at around 7.5 rating.. 
* There are much lesser ratings in 3-5 range which is a good sign for the company.

In [ ]:
univariate_quant('Rating')

##### Quantity purchased

Insights- 

* The distribution is relatively a flatter one, the range 1-13 is most dense. 
* Mean and peak coincide at 7, meaning 7 is the most frequent order size.

In [ ]:
univariate_quant('Quantity')

##### Alternate Charts - 


For Quantitative Univariate analysis there is always a range of options to choose from - Box Plot, Histograms, Swarmplots, KDE, Distplot etc.

## 3. Univariate Analysis ( Categorical )

The Univariate analysis of qualitative variables is fundamentally different from quantitative variables. 

While for quantitative charts, they are more statistical in nature as we have seen in last section, for categorical analysis  we  simply plot the frequencies via bar/Pie chart.

The purpose is to understand the bias in the data with respect to various categories-

##### Across City

Insights - 

All cities have almost equal number of transactions. 
In other words, the footprint of the supermarket is similar across cities.

In [ ]:
sales_data_2['City'].value_counts().head(10).plot.bar()

##### Across Gender

Insights - 

Females transact more as compared to males. 
There can be multiple reasons for this which can be a part of further analysis - 
* Is supermarket known for female oriented products?
* Does region in general have more females than males ?
* It might be a surprise insight for the supermarket and a particular factor might be causing it - Store aesthetics, offers on a select catalogue etc.

In [ ]:
sales_data_2['Gender'].value_counts().head(10).plot.bar()

##### Across Product Line

Insights - 

There are 2 types of product lines because there is a huge gap in # transaction among top 3 and bottom 3 product lines. 

1. Health & Beauty , Sports , Fashion constitute majority of the transactions and are high selling product lines for the supermarket. 

2. The other 3 product lines are not selling as much. 

3. Health and Beauty is top selling product line with a healthy margin. 

The possible reasons for this might be following - 
 
 * There is differentiation on focus by supermarket - there are more products on sale from top 3 as compared to bottom 3 
 * There are special offers on top 3 which are driving the sales. 
 * The prices and quality for top 3 are more competetive than the rest. 
 * The management is more focused and concerned with the growth of top 3 rather than others ( Possibly due to low margins )

In [ ]:
sales_data_2['Product line'].value_counts().head(10).plot.bar()

##### Across Payment Modes

Insights - 

* E Wallet is most prefered payment mode while Credit card is least.

In [ ]:
sales_data_2['Payment'].value_counts().head(10).plot.bar()

##### Across Customer Type

Insights - 

2/3rd of the transactions are done by Normal Members and only 1/3rd by Members

In [ ]:
sales_data_2['Customer type'].value_counts().head(10).plot.bar()

##### Unique Customers who are Member/Non-Members

While we have already looked at the number of transactions, it is also worthwhile to look at the number of Member/Normal customers that the Supermarket has.

There is a subtle difference between number of transactions and number of customers, which is to be noted.

The count of distinct Member/Non Member customers can be obtained by grouping the data by Customer Type and then using nunique() function -

In [ ]:
customer_members = sales_data_2[['CustomerID','Customer type']].groupby(['Customer type'], as_index = False).nunique()
_=sns.barplot(x=customer_members["Customer type"], y='CustomerID',data=customer_members)

Insights - 

There are about 250 Members and 375 Normal customers with the Supermarket. 

It can be seen that the ratio of Members is more than the Transactions done by Members. 

It is essentially telling us that Members are not contibuting to more transactions as would be expected from those.

##### Alternate Charts - 

Some other ways to look at categorical distributions are - Pie Chart, Countplot, Donut Chart etc.

###  Stores Location on map

Folium is one of the libraries which provides us with the ability of plotting Geological charts. 

We will use the same here to understand on the map where exactly the 3 stores are located and how is the proximity like.

First, we'll need to create a dataframe with all the cities, along with their coordinates. 

Drop_duplicates can be used here to get the unique rows -

In [ ]:
Cities_geo= sales_data_2[['City','Longitude','Latitude']].drop_duplicates()
Cities_geo

In the next step, the map can be plotted using folium.map(). The parameters are passed accordingly. ( Use Shift + tab for more details)

folium.Map() just plots the chart. We also need to put city markers on the map. This done by putting markers one by one using folium.marker() function -

In [ ]:
geo_map = folium.Map(location =[16.8409,96.1735], zoom_start = 5, tiles = 'CartoDB Positron', control_scale = True)

for (i, j) in Cities_geo.iterrows():
  folium.Marker(location = [j.loc['Latitude'], j.loc['Longitude']], popup = j.loc['City'],tooltip = 'click',
                icon = folium.Icon(icon = 'glyphicon-shopping-cart', prefix = 'glyphicon')).add_to(geo_map)

geo_map

Insights - 

The cities are distributed across lengths of Myanmar and are not close to each other. 

Yangon is the only coastal city where the chain is present, other ones are located in the middle of Myanmar. 

Company can expand in North and East of Myanmar as there is no presence in those areas. 

Also, a big coastal city Sittwe is also an option for later expansion.

## 4. Bivariate Analysis

It is one of the simplest form of statistical analysis where 2 variables are involved. It looks for relationship among the 2 variables. The applications involve hypothesis validation of association among variables, finding trends, regression etc.

### Heatmap

The purpose of Heatmap here is to look for any significant correlations among continuous variables in our data.

Since majority of the quantitative variables in this sales data are mathematically related to each other, the use of Heatmap in this case is not of much help. 

For example following related variables - 
* Invoice amount = Unit Price * Quantity
* COGS = Invoice Amount * 0.0476
* Gross Income = Invoice Amount - COGS

In [ ]:
heatmap_data=sales_data_2.corr()
_=sns.heatmap(heatmap_data, annot = True,cmap='YlGnBu')

As expected, we see high correlation in almost all sales related fields because they are derived from each other.

##### Function for bivariate analysis -

There are 4 important metrics that can provide maximum insights in this sales data - 

1. Sales 
2. AOV - Average Order Value
3. Mean Order Quantity
4. Ratings

It would be worthwhile to plot these against multiple categorical variables to see if those categories have an impact on these 4 metrics. 

It can be a great way to find out what's working for the chain and what is not.

In [ ]:
# Defining function for Univariate Analysis of Quantitative Variables

def grouped_analysis(col,hue=None):
    
    plt.figure(figsize=(20,10))
    
    def custom_fmt(x):                                                     # Custom format function to show values in pie chart
        return '{:.0f}%\n({:.0f})'.format(x, sales_grouped['Total'].sum()*x/100)  # It is used in autopct parameter in pie chart

    
    sales_grouped= sales_data_2[[col,'Total']].groupby(col).sum()                # Sales grouped by col
    mean_ratings = sales_data_2[[col,'Rating']].groupby(col).mean()              # Avg ratings grouped by col
    aov  = sales_data_2[[col,'Total']].groupby(col).mean()                       # AOV by col
    mean_units_qty = sales_data_2[[col,'Quantity']].groupby(col).mean()          # Mean order qty by col

    fig, axes=plt.subplots(nrows =2,ncols=2,figsize=(20,12))                      # Defining 4 subplots, changing fig size
    axes[0,0].set_title("Sales by " + col , size = 25)                            # Chart title for Subplot 1
    axes[0,0].set_xticklabels(axes[0,0].get_xticklabels(), fontsize=20)
   
    _=axes[0,0].pie(sales_grouped['Total'], labels = sales_grouped.index, autopct= custom_fmt,textprops={'fontsize': 14})


    axes[0,1].set_title("AOV by "  + col,size = 25 )                              #  Title for Subplot 2
    axes[0,1].set_xticklabels(axes[0,0].get_xticklabels(), fontsize=20)    
    axes[0,1].set_xlabel( axes[0,0].get_xticklabels(),fontsize=20)
    axes[0,1].set_ylabel( axes[0,0].get_yticklabels(),fontsize=20)
    g=sns.barplot(x=aov.index, y='Total', color="#f7a516",data=aov,ax=axes[0,1]) 
    g.set_xticklabels(
    labels=aov.index, rotation=45)                                                # Rotating lables so that they dont overlap
    
    
    axes[1,0].set_title("Mean Ratings by " + col,size = 25 )                      # Title for Subplot 3
    axes[1,0].set_xlabel( axes[0,0].get_xticklabels(),fontsize=20)
    axes[1,0].set_ylabel( axes[0,0].get_yticklabels(),fontsize=20)
    sns.barplot(y=mean_ratings.index, x='Rating', color="#305cb0",data=mean_ratings,ax=axes[1,0],orient='h')

    
    axes[1,1].set_title("Mean Units Qty by " + col,size = 25 )                    # Title for Subplot 4
    axes[1,1].set_xlabel( axes[0,0].get_xticklabels(),fontsize=20)
    axes[1,1].set_ylabel( axes[0,0].get_yticklabels(),fontsize=20)
    sns.barplot(y=mean_units_qty.index, x='Quantity', color="#712f80",data=mean_units_qty,ax=axes[1,1],orient='h')

    plt.tight_layout()
    fig.savefig("grouped_analysis"+col+".png")

#### Across City

Insights - 

* Although the number of transactions were similar as we saw earlier in Univariate analysis, Mandalay city have significantly more sales at 39%

* Yangon sales are least at 28%

* The difference in sales is essentially driven by the differences in AOV, which is maximum for Mandalay and really low for Yangon

* Further, we can say that the higher AOV is driven by higher mean quantity as seen in the Right bottom chart

* Ratings also reflect a similar story, with highest ratings for Mandalay and least for Yangon. 

* All of above points point to a big scope of improvement in Yangon for the supermarket chain.

In [ ]:
grouped_analysis('City')

#### Across Customer Type

Insights - 

* Members are contributing to 43% of sales, driven by really high AOV of 500 a compared to 300 of a normal customer

* The difference in AOV is driven by the difference in Average order quantity

* Ratings are similar by Member and Normal customers.

In [ ]:
grouped_analysis('Customer type')

#### Across Gender

Insights - 

* As expected after Univariate analysis, females are driving more sales at 55%

* The AOV and average order quantity are also significantly higher for females

* The ratings are not impacted by Gender

In [ ]:
grouped_analysis('Gender')

#### Across Product Line

Insights - 

* Health and Beauty is the most prominent segment with 30% of sales.
* 3 bottom segments - Food & Beverages, Electronics, and Home & lifestyle together make 30% of the sales. 
* Food & Beverages have the maximum AOV among all categories, Home and lifestyle also has a relatively higher AOV. 
* Customers love these 2 segments as the ratings are also highest for these 2 segments. 
* If the company could drive more transactions in above 2 segments, it will boost the sales significantly due to their higher AOV

In [ ]:
grouped_analysis('Product line')

#### Across Payment Modes

Insights - 

* Payment mode doesn't seem to have an impact in any metric as modes have equal distribution in sales, ratings etc. 
* AOV for Credti cards is relatively higher but the difference is not significant for it to prove a hypothesis.

In [ ]:
grouped_analysis('Payment')

### Timeseries Analysis

Timeseries analysis is when a particular metric (sales/aov etc) is analysed with respect to a time variable ( day/month/year etc)

Although timeseries analysis is always beneficial wherever applicable, but in case of Sales related data it becomes even more valuable. 
This can be attributed to following reasons - 

* Cyclicity in sales can be visualised
* Seasonal sales patterns can be identified
* Impact of various events ( Festivals, Market collapse, Natural disasters etc. ) can be identified
* New strategies can be devised based on the insights to lift up sales during specific times. 
* Ideal promotional times can be identified.

Here, we will be plotting the same 4 metrics as in last sections against a time variable for our analysis -

In [ ]:
# Defining function for Univariate Analysis of Quantitative Variables

def timeseries_analysis(col,hue=None):
    
    plt.figure(figsize=(20,10))
    
    sales_grouped= sales_data_2[[col,'Total']].groupby(col).sum()              # Sales grouped by col
    mean_ratings = sales_data_2[[col,'Rating']].groupby(col).mean()            # Avg ratings grouped by col
    aov  = sales_data_2[[col,'Total']].groupby(col).mean()                      # AOV by col
    mean_units_qty = sales_data_2[[col,'Quantity']].groupby(col).mean()         # Mean order qty by col


    fig, axes=plt.subplots(nrows =2,ncols=2,figsize=(20,12))                      # Defining 4 subplots, changing fig size
     
    
    axes[0,0].set_title("Sales by " + col , size = 25)                            # Chart titl for Subplot 1
    sns.lineplot(x=sales_grouped.index , y= sales_grouped['Total'], data=sales_grouped, ax=axes[0,0])


    axes[0,1].set_title("AOV by "  + col,size = 25 )                              #  Title for Subplot 2
    axes[0,1].set_xticklabels(axes[0,1].get_xticklabels(), fontsize=20)    
    axes[0,1].set_xlabel( axes[0,1].get_xticklabels(),fontsize=20)
    axes[0,1].set_ylabel( axes[0,1].get_yticklabels(),fontsize=20)
    sns.barplot(x=aov.index, y='Total', color="#f7a516",data=aov,ax=axes[0,1])    
    
    
    axes[1,0].set_title("Mean Ratings by " + col,size = 25 )                      # Title for Subplot 3
    axes[1,0].set_xlabel( axes[1,0].get_xticklabels(),fontsize=20)
    axes[1,0].set_ylabel( axes[1,0].get_yticklabels(),fontsize=20)
    sns.barplot(y=mean_ratings.index, x='Rating', color="#305cb0",data=mean_ratings,ax=axes[1,0],orient='h')

    
    axes[1,1].set_title("Mean Units Qty by " + col,size = 25 )                    # Title for Subplot 4
    axes[1,1].set_xlabel( axes[1,1].get_xticklabels(),fontsize=20)
    axes[1,1].set_ylabel( axes[1,1].get_yticklabels(),fontsize=20)
    sns.barplot(y=mean_units_qty.index, x='Quantity', color="#712f80",data=mean_units_qty,ax=axes[1,1],orient='h')

    plt.tight_layout()
    fig.savefig("timeseries_analysis"+col+".png")

##### Timeseries Analysus - by Hour

Insights - 

* Sales peak sharply at 7PM in the evening 
* 4PM-6PM is a dead period with really low sales
* Stores see moderate sales during 10 AM to 3 PM
* Ratings, Order quantity logically should not be related to time of the day, hence any variation should be attributed to a random phenomenon.

In [ ]:
timeseries_analysis('hour')

##### Timeseries Analysis - by Month

Insights - 

* February is peak sales month where sales go beyond 50k+. Jut for comparison, most of the other month accumulate less than 35k revenue.  
* There must be a reason for this spike in February. It can either be a festival in the region, or a season that's driving sales of particular segment or a promotional campaign that has worked well. 
* December also sees a significant spike, although not as steep as February but still significant. 
* April-Nov sales are on the lower side, with sales dipping close to 25k in July.

In [ ]:
timeseries_analysis('month')

##### Month on Month sales - Members and Non Members

Insights - 

* Members always have significantly more AOV than normal customers. 
* Members AOV has lesser fluctuations than Non members.

In [ ]:
plt.figure(figsize=(15,8))
plt.title('AOV per Month by Customer Type')
sns.lineplot(data=sales_data_2,x='month',y='Total',hue='Customer type',markers=True,style='Customer type',dashes=False);

###  Customers across Cities

Insights - 


* Mandalay has least unique customers (90), while Yangon hs most (200+)
* Sales per customers metric has opposite trend where each customer spends maximum in Mandalay ( 1600).

NOTE : nunique function is used to calculate distinct customers

In [ ]:
plt.figure(figsize=(15,8))

customer_city = sales_data_2[['City', 'CustomerID']].groupby(['City']).nunique()
sales_city= sales_data_2[["City",'Total']].groupby("City").sum()
sales_per_cx = sales_city["Total"]/customer_city["CustomerID"]

fig, ax=plt.subplots(nrows =1,ncols=2,figsize=(20,12))                      # Defining 4 subplots, changing fig size

sns.barplot(x=customer_city.index, y='CustomerID', color="#f7a516",data=customer_city,ax=ax[0])  
_=ax[0].set_title("Customer Count by Cities", size = 25)                            # Chart titl for Subplot 1


sns.barplot(x=customer_city.index, y=sales_per_cx.values, color="#f7a516",ax=ax[1]) 
_=ax[1].set_title("Sales per Customer by Cities", size = 25)                            # Chart title for Subplot 2

### Member/Non-Member Deep Dive

Finally, we'll see how our Member and Non Members perform across 4 metrics that we've used for bivariate analysis. 

We'll make use of Grouped bar chart to represent the comparison in a better way -

In [ ]:
sales_grouped= sales_data_2[["City","Customer type",'Total']].groupby(["City","Customer type"], as_index = False).sum()
mean_ratings = sales_data_2[["City","Customer type",'Rating']].groupby(["City","Customer type"], as_index = False).mean()
aov  = sales_data_2[["City","Customer type",'Total']].groupby(["City","Customer type"], as_index = False).mean()
mean_units_qty = sales_data_2[["City",'Customer type','Quantity']].groupby(["City","Customer type"], as_index = False).mean()
                               
fig,axes= plt.subplots(nrows =2,ncols=2,figsize=(20,12)) 
                              
_=sns.barplot(x=sales_grouped["City"], y='Total',data=sales_grouped,hue = 'Customer type', ax = axes[0,0])  
axes[0,0].set_xticklabels(axes[0,0].get_xticklabels(), fontsize=20)    
axes[0,0].set_title("Sales by City/Cutomer Type "  , size = 25)     
                              
_=sns.barplot(x=aov["City"], y='Total',data=aov,hue = 'Customer type', ax = axes[0,1])  
axes[0,1].set_xticklabels(axes[0,1].get_xticklabels(), fontsize=20)    
axes[0,1].set_title("AOV by City/Cutomer Type "  , size = 25)  
                              
_=sns.barplot(x=mean_ratings["City"], y='Rating',data=mean_ratings,hue = 'Customer type', ax = axes[1,0])  
axes[1,0].set_xticklabels(axes[1,0].get_xticklabels(), fontsize=20)    
axes[1,0].set_title("Mean Ratings by City/Cutomer Type "  , size = 25)  
                              
_=sns.barplot(x=mean_units_qty["City"], y='Quantity',data=mean_units_qty,hue = 'Customer type', ax = axes[1,1])  
axes[1,1].set_xticklabels(axes[1,1].get_xticklabels(), fontsize=20)    
axes[1,1].set_title("Mean Order Qty by City/Cutomer Type "  , size = 25)  

plt.tight_layout()

Insights - 

* Normal customers have more sales in all cities. But that may be due to the fact that Non Members are higher in count as we've seen earlier.
* Members consistently have higher AOV than non members. 
* The AOV is driven by higher order quantity.

## 5. Final Insights

As per the insights discussed so far, we can have following final recommendations -

•	The Members are doing really well in terms of sales numbers for the company. Thus a campaign can be formulated to promote the member sign ups.

•	The spike in Feb sales are a hint that the stores have the potential to have higher sales throughout the year. Specially April to November period sales can be significantly improved by some focused marketing.

•	Food & Beverages, Home and lifestyle have the maximum AOV among all categories, but constitute just 20% of the total sales together. The ratings are also better than other categories. It is a sign that a strategy around promoting these categories can be formulated.

•	It is a good sign for the supermarket chain that Females are driving majority of the sales. Even females' dominated categories such as Health & Beauty, Fashion are top product categories. The company can scale this further to improve overall revenue. Female tend to be higher spenders than Men, and company can take more advantage of this data insight.

•	Yangon has least sales and AOV of all cities and the difference is significant too. Hence a focused marketing campaign can be launched to meet the potential sale in this city.